<footer class=" bg-white">
    <div class="container mx-auto p-2 my-5">
        <div class="flex flex-col items-center gap-2 font-rale font-extralight text-xm text-gray-600">

            <hr class="w-full h-[1px] mt-10 mb-5 bg-gray-300 border-0 rounded ">

            <div>
                <p>Electricidad RCD SPA</p>
            </div>
            <div>
                <p>Todos los derechos reservados 2023</p>
            </div>
            <div>
                <p>Creado por CpCe</p>
            </div>
        </div>
    </div>

</footer>