<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Electrician",
        "name": "Electricidad RCD",
        "keywords" : ["Electricista", "Electricista Las Condes", "Electricista Chicureo", "Electricista Vitacura", "Electricista a domicilio"],
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "Santa Rosa 12980 loc 37",
            "addressLocality": "Santiago",
            "addressRegion": "",
            "postalCode": ""
        },
        "telePhone": "+56 963044658",
        "openingHours": "Mo,Tu,We,Th,Fr,Sa,Su 08:00-17:00",
        "openingHoursSpecification": [ {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": [
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday",
                "Sunday"
            ],
            "opens": "08:00",
            "closes": "17:00"
        } ],
        "priceRange":"$"
    
    }
    </script>